body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#products, #orders {
    padding: 20px;
}

.product-grid, .order-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card, .order-card {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    margin: 5px 0;
}

.edit-btn, .delete-btn, .update-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 5px;
}

.delete-btn {
    background-color: #dc3545;
}

.update-btn {
    background-color: #007bff;
}

button:hover {
    opacity: 0.8;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}.small-image {
    width: 150px; 
    height: 50px;
    border: 1px;
    border-radius: 30px ;
}#add-product {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

#add-product form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#add-product label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#add-product input[type="text"],
#add-product input[type="number"],
#add-product input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#add-product button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

#add-product button:hover {
    background-color: #218838;
}