body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#cart {
    padding: 20px;
}

#cart-items {
    margin-bottom: 20px;
}

.cart-item {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-info {
    flex: 1;
}

.item-info span {
    display: block;
    margin-bottom: 5px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.quantity-controls button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;
}

.quantity-controls button:hover {
    background-color: #218838;
}

.item-total {
    font-weight: bold;
    margin: 0 20px;
}

.remove-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.remove-button:hover {
    background-color: #c82333;
}

#cart-summary {
    text-align: right;
    font-size: 1.2em;
}

#checkout-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

#checkout-button:hover {
    background-color: #218838;
} 
.small-image {
    width: 150px; 
    height: 50px;
    border: 1px;
    border-radius: 30px ;
}footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}